extend layout

//- 主題：雜誌設計感
//- Q：如何切版？
//- A：用 z-index 分層
//-    第一層(最上)：文字
//-    第二層：半透明色塊(放在文字底下)
//-    第三層：圖片
//-    第四層(？)：背景顏色

block content
  main
    .container-80
      .fs6.bold.text-center 關於