extend layout

//- ä¸»é¡Œï¼šé›œèªŒè¨­è¨ˆæ„Ÿ
//- Qï¼šå¦‚ä½•åˆ‡ç‰ˆï¼Ÿ
//- Aï¼šç”¨ z-index åˆ†å±¤
//-    ç¬¬ä¸€å±¤(æœ€ä¸Š)ï¼šæ–‡å­—
//-    ç¬¬äºŒå±¤ï¼šåŠé€æ˜è‰²å¡Š(æ”¾åœ¨æ–‡å­—åº•ä¸‹)
//-    ç¬¬ä¸‰å±¤ï¼šåœ–ç‰‡
//-    ç¬¬å››å±¤(ï¼Ÿ)ï¼šèƒŒæ™¯é¡è‰²

block content
  main
    .h-40.p-re
      .fs6.bold.text-center.p-re ğ’œğ’·ğ‘œğ“Šğ“‰
      .p-ab