extend layout

block content
  main
    h1.pdleft1 â„¬ğ“ğ‘œğ‘”
    .h-40.mg3.pdleft1(style="border-left: 2px solid black;")
      each blog in data.blog
        .blog.h-10
          .blog-title(style="display:flex;align-items: baseline;")
            h3=blog.title
            .fs1.pdleft1=blog.date
          .blog-content.wd-break
            p.text-to-html=blog.content