doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title MyWebsite
    link(rel="icon" href="/img/favicon.ico")
    link(rel='stylesheet', href='/css/header.css')
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/footer.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    script(type='text/javascript', src='/js/base.js')
    header.transition.z-500
      div.title.w50pct
        a.f1_25em.padle1em(href="/") #{lang.logo_img}

      //- é»‘å±
      #bg-dark.z-400
      #menu-block.menu-close.z-600
        #lang-block.w-full.p-re.pdleft2
          a.lang-icon.transition.w-2.p-re.h-2.flex-all-center(href="/tw/") ğ•‹ğ•
          a.lang-icon.transition.w-2.p-re.h-2.flex-all-center(href="/ja/") ğ•ğ”¸
          a.lang-icon.transition.w-2.p-re.h-2.flex-all-center(href="/en/") ğ”¼â„•
        #menu.p-re.pdright5.pdleft2
          each navi in data.navigation
            .menu-item.f1em
              a.f1_25em(href=navi.page)=navi.title

      //- SP Menu å½ˆå‡º
      #SPmenuBtn.z-700(onclick='SPMenuBtn()', data-item='SPmenuBtn')
        #SPmenuBtnAnime.p-re(data-item='SPmenuBtnAnime')
    //- çµ¦å„å€‹ç¶²é æ”¾å„è‡ªå€åŸŸ
    block content

    a.to-top.flex-all-center.inactive(href="javascript:void();")
      .to-top-arr

    footer.pd1
      .sns_link.w-12.h-3
        each sns in data.sns
          a.text-center.w-2.h-2(href=sns.url, target="_blank")
            //- ä¸çŸ¥é“ç‚ºä»€éº¼ä¸èƒ½ç”¨ inherit
            .sns-mask(data-sns=sns.name, style="-webkit-mask-repeat: no-repeat; -webkit-mask-size: 2em;") 
              .transition
      .h-8.wfull