footer{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	background-color: rgba(191, 176, 168 ,1);
}
.sns_link{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.sns-mask, .sns-mask div{
	width: inherit;
	height: inherit;
}
.sns-mask div{
	background-color: white;
}
.sns-mask div:hover{
	background-color: black;
}