/* Header 區域專用 */ 

@media only screen and (max-width:800px){ /* Mobile */
	#SPmenuBtn{
		display: flex;
	}
	/* Menu 的顯示&關閉 */
	.menu-active{
		opacity: 1;
		right : 0;
		/* ease(預設)：加速再減速 */
		transition-duration: .5s;
	}
	.menu-close{
		right : -1000px;
		opacity: 0;
		transition-duration: .5s;
		/* ease-in：慢慢加速 */
		transition-timing-function:ease-in;
	}
	#menu-block{
		display: flex;
		padding-top: 4em;
		background-color: white;
		width: 100vw;
		height: 100vh;	
		/* 主軸：垂直 */
		flex-direction: column;
		/* 主軸平分 */
	/*	justify-content: space-around;*/
		/* 副軸置中排列 */
	/*	align-items:center;*/
	/*	background-color: #FFFFFF;*/
		position: fixed;
		top:0;
		bottom: 0;
	}
}
@media only screen and (min-width:800px){ /* PC */
	#SPmenuBtn{
		display: none;
	}
	#menu-block{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 50%;
		height: inherit;
	}
	#menu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

header{
	width: 100%;
	height: 7.5em;
/*	background-color: rgba(191, 176, 168 ,1);*/
	backdrop-filter: blur(2.5px); /* 背景模糊 */
	background-color: rgba(240, 235, 235, .3);
/*	background-color: transparent;*/
	display: flex;
	align-items: center;
/*	overflow: scroll;*/
	/* 主軸平均分配位置，第一個子元素貼齊主軸起點，最後一個子元素貼齊主軸終點。 */
	justify-content: space-between;
	position: fixed;
}
#menu a:before{
	content: "";
	position: absolute;
	background-color: transparent;
	width: .1px;
	height: 1.5em;
	z-index: -5;
	transition: 0.2s 
}
#menu a:hover:before{
	content: "";
	position: absolute;
	background-color: white;
	width: inherit;
	height: 1.5em;
	z-index: -5;
	transition: 0.2s;
}
#lang-block{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.lang-icon{
	border-style: solid;
	border-width: .1em;
	border-radius: 50%;
	border-color: black;
}

#SPmenuBtn{
	/* 在 menu 的上面 */
	width: 10%;
	cursor: pointer;
/*	display: flex;*/
	/* 主軸置中對齊 */
	justify-content:center;
	/* 副軸置中對齊 */
	align-items:center;
}
#SPmenuBtnAnime{
	/* 線條 */
	width: 1.5em;
	height: .1em;
	/* 圓弧 */
 	border-radius:1em;
 	/* 黑色 */
	background-color: #000;
	/* 針對背景顏色改變 */
	transition:background-color .01s .5s;
}
#SPmenuBtnAnime:after{
	content:"";
	/* 線條 */
	width: 1.5em;
	height: .1em;
	/* 圓弧 */
	border-radius:1em;
	/* 黑色 */
	background-color: #000;
	/* 依照有寫上 position 的 父元素 的位置去進行後續的定位動作 */
	position: absolute;
	/* 在上面留-0.5em的空間 ( 往下移0.5em ) */
	bottom: -0.5em;
}
#SPmenuBtnAnime:before{
	content:"";
	/* 線條 */
	width: 1.5em;
	height: .1em;
	/* 圓弧 */
	background-color: #000;
	position: absolute;
	/* 在下面留-0.5em的空間 ( 往上移0.5em ) */
	top: -0.5em;
}
#bg-dark.bg-turn-dark{
	/* 滿板固定 */
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	/* 和 menu 同進同出 不要太快暗掉 */
	transition: .5s;
}
.menu-item{
	list-style: none;  /* 移除項目符號 */
	align-items: center;
/*	height: 3em;*/
}
.menu-item a{
	width: 7.5em;
	align-items: center; /* Cannot Use Error */
}

/* MenuBtn 的顯示時&關閉時 */

#SPmenuBtn.MenuBtn-active #SPmenuBtnAnime{
		background-color: transparent;
  	transition:background-color .01s .2s;
}
#SPmenuBtn.MenuBtn-close #SPmenuBtnAnime::before{
	/* both&forwards 為animation-fill-mode(填充模式，可設定動畫為播放的樣式)的一種
	   both&forwards 皆為結束後就停在動畫的結束效果，但開始时 both 会應用 backwards（第一幀定義的狀態） 的效果 */
    animation: backturn1 .4s .2s ease-in-out reverse both,
               backmoveDown .3s .55s ease-in  reverse both;
}
#SPmenuBtn.MenuBtn-active #SPmenuBtnAnime::before{
    animation:moveDown .3s ease-in forwards,
              turn1 .4s .2s ease-in forwards;
}

#SPmenuBtn.MenuBtn-close #SPmenuBtnAnime::after{
    animation: backturn2 .45s .1s ease-in reverse both,
               backmoveUp .3s .55s ease-in  reverse both;          
}
#SPmenuBtn.MenuBtn-active #SPmenuBtnAnime::after{
    animation:moveUp .3s ease-in forwards ,
              turn2 .4s .2s ease-in forwards;
}


/* 選單按鈕動畫區域開始 */

/* 點擊後偽元素向父元素結合在一起 */
@keyframes moveDown{ 
	0%{top: -0.5em;}
  100%{top:0;}
}
@keyframes backmoveDown{
	0%{top: -0.5em;}
	100%{top:0;}
}

@keyframes moveUp{
  0%{bottom: -0.5em;}
  100%{bottom:0;}
}
@keyframes backmoveUp{
	0%{bottom: -0.5em;}
	100%{bottom:0;}
}

/* 偽元素開始旋轉 */

/* before (上面那條) */
@keyframes turn1{
	0%{transform:rotate(0deg);}
	/* 先轉過頭一點再用較慢速度回去，讓他有碰撞的感覺 */
	90%{transform:rotate(50deg);}
	100%{transform:rotate(45deg);}
}
@keyframes backturn1{
	0%{transform:rotate(0deg);}
	90%{transform:rotate(50deg);}
	100%{transform:rotate(45deg);}
}

/* after (下面那條) */
@keyframes turn2{
	0%{transform:rotate(0deg);}
	90%{transform:rotate(145deg);}
	100%{transform:rotate(135deg);}
}
@keyframes backturn2{
	0%{transform:rotate(0deg);}
	90%{transform:rotate(145deg);}
	100%{transform:rotate(135deg);}
}
/* 選單按鈕動畫區域結束 */